{% extends "main.html" %}
{% block content %}
<div class="row">
  <div class="side">
      <h1> Edit Part </h1>
  </div>
  <div class="main">
     <form action="#" method = 'post'>
			<p>Name:</p>
			<input type ='text' size='30' name='name' placeholder = '{{part.name }}'>
			<p>Description:</p>
			<input type ='text' size='30' name='description' placeholder = '{{part.description}}'>
			<p>Price:</p>
			<input type ='text' size='30' name='price' placeholder = '{{part.price}}'>
			<p>Material:</p>
			<input type ='text' size='30' name='material' placeholder = '{{part.material}}'>
			
			<input type='submit' value='Edit'>
			<a href = '#'> Cancel </a>
		</form>
  </div>
</div>
{% endblock %}


