{% extends "main.html" %}
{% block content %}
<div class="row">
  <div class="side">
      <h1>Current Robots: </h1>
      <a href="{{url_for('newRobot')}}" > <h3> Create a New Robot </h3> </a>
			{% for robot in robots %}
				<a href = "{{url_for('showParts', robot_id = robot.id)}}"> <h2>{{robot.name}}</h2></a>
				<p><a href = "{{url_for('editRobot',robot_id = robot.id)}}">Edit Robot</a></p>
				<p> <a href = "{{url_for('deleteRobot',robot_id = robot.id)}}">Delete Robot</a> </p>
			{% endfor %}
  </div>
  <div class="main">
      <h2>All the presented robots require a good work environment and safety procedures.💀</h2>
   
  </div>
</div>
{% endblock %}